body {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.picture{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    background-color:grey;
    grid-column: 1/6;
    grid-row: 1/6;
    

}

h1{
    grid-column: 1/11;
    grid-row: 1/1;
    align-self: center;
    justify-self: center;

    
}

.photo {

    grid-column: 1/11;
    grid-row: 1/11;
    align-self: center;
    justify-self: center;

}

.about{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    background-color: blue;
    grid-column: 6/11;
    grid-row: 1/6;    
}


.text {
    grid-column: 1/11;
    grid-row: 1/11;
    align-self: center;
    justify-self: center;    
}

.music{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-column: 1/11;
    grid-row: 6/11;
    animation: changebackground 2s infinite ease-in-out;
}

.video {

    grid-column: 1/11;
    grid-row: 1/11;
    align-self: center;
    justify-self: center;
    

}


@media only screen and (max-width:580px){

 .picture{
     grid-column: 1/11;
     grid-row: 1/1;
 }
 .about{
    grid-column: 1/11;
    grid-row: 2/2;

 }
 .music{
    grid-column: 1/11;
    grid-row: 3/3;
    

 } 
    
}

@keyframes changebackground{
0%{
    background-color: indigo;

}
50%{
    background-color:red;

}
0%{
    background-color: yellow;

}



}